<div class="blog-post-card">
  <img src="images/article-3.jpg" alt="">
  <div class="blog-post-card__content">
    <a href="#" class="blog-post-card__link">3 نکته ای که احتملا درباره تفکر طراحی نمیدانید</a>
    <p class="blog-post-card__review">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
      طراحان گرافیک است.</p>
    <div class="blog-post-card__footer">
      <div class="blog-post-card__information">
                    <span class="blog-post-card__owner">
                        <i class="fa fa-pen"></i> ادمین
                    </span>
        <span class="blog-post-card__views">
                        <i class="fa fa-eye"></i> 140
                    </span>
      </div>
      <a href="#" class="btn btn--gradient btn--small blog-post-card__btn">بیشتر بخوانید</a>
    </div>
  </div>
</div>