<footer class="footer">
  <div class="footer__column">
    <div class="footer__brand">
      <span class="footer__bran01">ایزی</span>
      <span class="footer__bran02">لرن</span>
    </div>
    <p class="footer__content footer__contact">
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
      متون
      بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است.
    </p>
    <div class="footer__contact_item">
                <span>
                    <i class="fas fa-map-marker-alt"></i>
                    ایران، تهران، زعفرانیه، ساختمان مهر
                </span>
    </div>
    <div class="footer__contact_item">
                <span>
                    <i class="fas fa-envelope"></i>
                    info@electrocellco.ir
                </span>
    </div>
    <div class="footer__contact_item">
                <span>
                    <i class="fas fa-phone"></i>
                    021-1234567
                </span>
    </div>
  </div>
  <div class="footer__column">
    <h3 class="footer__title">درسترسی سریع</h3>
    <ul class="footer__list">
      <li class="footer__list_item">
        <a href="#">درباره ما</a>
      </li>
      <li class="footer__list_item">
        <a href="#">تماس با ما</a>
      </li>
      <li class="footer__list_item">
        <a href="#">سوالات متداول</a>
      </li>
      <li class="footer__list_item">
        <a href="#">تاریخچه سفارشات</a>
      </li>
    </ul>
  </div>
  <div class="footer__column">
    <h3 class="footer__title">لینک های مفید </h3>
    <ul class="footer__list">
      <li class="footer__list_item">
        <a href="#">حساب کاربری</a>
      </li>
      <li class="footer__list_item">
        <a href="#">بازپرداخت</a>
      </li>
      <li class="footer__list_item">
        <a href="#">تخفیف</a>
      </li>
      <li class="footer__list_item">
        <a href="#">رهگیری سفارش</a>
      </li>
    </ul>
  </div>
  <div class="footer__column">
    <h3 class="footer__title footer__newsletter">برای اطلاع از تازه ترین ها به خبرنامه ما بپیوندید </h3>
    <div class="input-box-with-btn footer__newsletter_btn">
      <input type="text" placeholder="ایمیل خود را وارد کنید.">
      <button class="btn btn--secondary btn--no-radius">اشتراک</button>
    </div>
    <div class="footer__social">
                <span class="footer__social_insta">
                    <i class="fab fa-instagram"></i>
                </span>
      <span class="footer__social_twitter">
                    <i class="fab fa-twitter"></i>
                </span>
      <span class="footer__social_youtube">
                    <i class="fab fa-youtube"></i>
                </span>
      <span class="footer__social_telegram">
                    <i class="fab fa-telegram"></i>
                </span>
    </div>
  </div>
  <div class="footer__copyright">
    <span>© 1399 کلیه حقوق این سایت متعلق به ایزی لرن است</span>
  </div>
</footer>