<div class="next-courses">
  <img src="images/bg-1.png" alt="">
  <div class="next-courses__content">
    <div class="next-courses__item">
      <a href="#" class="next-courses__header">دوره آموزشی UI / UX</a>
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
      </p>
      <div class="next-courses__item-footer">
        <span class="next-courses__date">تاریخ برگزاری  1399/8/6</span>
        <a href="#" class="btn btn--rounded btn--gradient btn--small">ادامه مطلب</a>
      </div>

    </div>
    <div class="next-courses__item">
      <a href="#" class="next-courses__header">دوره آموزشی UI / UX</a>
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
      </p>
      <div class="next-courses__item-footer">
        <span class="next-courses__date">تاریخ برگزاری  1399/8/6</span>
        <a href="#" class="btn btn--rounded btn--gradient btn--small">ادامه مطلب</a>
      </div>

    </div>
    <div class="next-courses__item">
      <a href="#" class="next-courses__header">دوره آموزشی UI / UX</a>
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
      </p>
      <div class="next-courses__item-footer">
        <span class="next-courses__date">تاریخ برگزاری  1399/8/6</span>
        <a href="#" class="btn btn--rounded btn--gradient btn--small">ادامه مطلب</a>
      </div>

    </div>
  </div>
</div>