@font-face {
    font-family: iran;
    src: url(../fonts/iran.ttf);
}

html {
    font-size: 62.5%;
}

* {
    font-family: iran;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

body {
    direction: rtl;
}

/* Header */

.header{
    font-size: 1.6rem;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 1.4rem;
    font-size: 1.1em;
}

.nav__right {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav__right_item a {
    color: #444;
    margin: 0.5rem 1.5rem;
}


.nav__left{
    list-style: none;
}

/* Button */


.btn{
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 1rem 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--white{
    color: black;
    border: 1px solid #666;
}
.btn i{
    font-size: 2rem;
    margin: 0 0 0 2rem;
}

/* slider */

.slider{
    position: relative;
}

.slider__item img{
    width: 100%;
}

.slider__item{
    display: none;
}

.slider .active{
    animation-name: fadeIn;
    animation-duration: 1.5s;
    display: block;
}

.slider__item span{
    position: absolute;
    top: 40%;
    right: 10%;
    font-size: 2.4rem;
}

.slider__buttons{
    position: absolute;
    bottom: 30px;
    left: 40px;
}

.slider__buttons i{
    margin-left: 1rem;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.slider__buttons i:hover{
    color: rgba(0,0,0,0.4);
}