@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-main: 'Montserrat', sans-serif;

$color-primary: #e74c3c;
$color-sami-gray: #95a5a6;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-main;
  background: $color-sami-gray;
}

