@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-main: 'Montserrat', sans-serif;

$color-primary: #f1c40f;
$color-sami-gray: #95a5a6;

$header_height: 5rem;

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-main;
  background: $color-sami-gray;
}

p{
  text-align: justify;
}

