.nav {
  position: fixed;
  width: 100vw;
  max-width: 100%;
  display: flex;
  background: $color-primary;
  justify-content: space-between;
  height: $header_height;
  align-items: center;
  padding: 0 15rem;

  &__logo-section {
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
  }


  &__toggle{
    display: none;
  }

  &__list {
    display: flex;
    list-style: none;


    &__item {
      height: 100%;

      a {
        @include flexCenter();
        color: white;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 0 2rem;
        height: $header_height;
        transition: 0.2s  ;

        &:hover {
          background: darken($color-primary, 10);
        }
      }
    }
  }

}
