.nav {
  position: sticky;
  top: 0;
  width: 100vw;
  max-width: 100%;
  background: $color-primary;
  height: $header_height;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__toggle {
    display: none;
    width: 2.5em;
    height: 1.8rem;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    position: relative;
    z-index: 1;

    & > div {
      width: 100%;
      height: 0.2rem;
      background: white;
      transform-origin: left;
      transition: 0.3s 0.3s;
    }

    @media screen and (max-width: 1024px) {
      display: flex;
    }

  }


  &__logo-section {
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
  }


  .nav__items-wrapper {
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      align-items: center;
      justify-content: center;
      background: $color-primary;
      top: -100%;
      left: 0;
      height: 100vh;
      width: 100vw;
      transition: 0.5s ease-out;
      .nav__list {
        display: flex;
        flex-direction: column;

        a {
          &:hover {
            color: rgba(255, 255, 255, 0.8);
            background: transparent;
          }
        }
      }

    }
  }

  &__list {
    display: flex;
    list-style: none;


    &__item {
      height: 100%;

      a {
        @include flexCenter();
        color: white;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 0 2rem;
        height: $header_height;
        transition: 0.2s background;

        &:hover {
          background: darken($color-primary, 10);
        }

        &:focus {
          outline: none;
          border: 1px dashed black;
        }

      }
    }
  }

}

#toggle:checked {

  & ~ .nav__toggle {
    transform: rotateZ(-90deg);
  }

  & ~ .nav__toggle .nav__line2 {
    opacity: 0;
  }

  & ~ .nav__toggle .nav__line1 {
    transform: rotateZ(40deg);
  }

  & ~ .nav__toggle .nav__line3 {
    transform: rotateZ(-40deg);
  }

  @media screen and (max-width: 1024px) {
    & ~ .nav__items-wrapper {
      top: 0;
    }
  }

}