.nav {
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
  }

  position: sticky;
  top: 0;
  width: 100vw;
  max-width: 100%;
  background: $color-primary;
  height: $header_height;


  &__logo-section {
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
  }


  &__toggle {
    display: none;
  }

  &__list {
    display: flex;
    list-style: none;


    &__item {
      height: 100%;

      a {
        @include flexCenter();
        color: white;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 0 2rem;
        height: $header_height;
        transition: 0.2s background;

        &:hover {
          background: darken($color-primary, 10);
        }

        &:focus {
          outline: none;
          border: 1px dashed black;
        }

      }
    }
  }

}
