@import url("fonts/font.css");

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --color-secondary: #17a2b8;
    --color-secondary-darker: #138496;
    --colo-primary: #007bff;
    --color-primary-darker: #0069d9;
    --color-accent: #736dd5;
    --color-white: #fff;
    --color-purple: #736dd5;
    --color-green: #34fe9b;
    --color--input-border: #ced4da
}

*, *::after, *::before {
    font-family: vazir-med-fa, serif;
}


body {
    text-align: right;
    direction: rtl;
    font-size: 1.6rem;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}


/* Badges */

.badge {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    white-space: nowrap;
    line-height: 1;
}


.badge--primary {
    background: var(--colo-primary);
    color: var(--color-white);

}

.badge--secondary {
    background: var(--color-secondary);
    color: var(--color-white);
}

.badge--accent {
    background: var(--color-accent);
    color: var(--color-white);
    vertical-align: center;
}

/* Our Boxes */

.our-box {
    text-align: center;
    margin: 3rem;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 5px 20px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-box--primary {
    background: var(--colo-primary);
}


.our-box--purple {
    background: var(--color-purple);
}

.our-box__image {
    margin-bottom: 1.5rem;
    width: 6rem;
}

.our-box__link {
    color: white;
    text-decoration: none;
}


.our-box--green {
    background: var(--color-green);
}

/* Buttons */
.btn {
    border: 0;
    padding: 1rem 1.2rem;
    display: inline-block;
    text-decoration: none;
    margin: 1rem;
    font-size: 1.3rem;
    border-radius: 5px;
    font-weight: 400;
    transition: 0.15s ease-in-out;
    --local-border-size: 1px;
}


.btn--primary {
    background: var(--colo-primary);
    --local-background: var(--colo-primary);
    color: var(--color-white);
}


.btn--primary:hover {
    background-color: var(--color-primary-darker);
    color: var(--color-white);
}

.btn--secondary {
    background: var(--color-secondary);
    --local-background: var(--color-secondary);
    color: var(--color-white);
}

.btn--secondary:hover {
    background: var(--color-secondary-darker);
}


.btn--gradient {
    background: linear-gradient(40deg, #45cafc, #303f9f);
    --local-background: linear-gradient(40deg, #45cafc, #303f9f);
    color: white;
}


.btn--no-radius {
    border-radius: 0;
}

.btn--big {
    padding: 1.6rem 2.4rem;
    border: 2px solid var(--local-background);
    --local-border-size: 2px;
    font-size: 1.6rem;
}

.btn--outline {
    border: var(--local-border-size) solid var(--local-background);
    color: var(--local-background);
    background: var(--color-white);
}

.btn--outline:hover {
    border: var(--local-border-size) solid var(--local-background);
    color: var(--color-white);
    background: var(--local-background);
}


/* input boxes */

.input-box-with-btn {
    display: flex;
    border: 1px solid var(--color--input-border);
    border-radius: 50rem;
    overflow: hidden;
}

.input-box-with-btn .btn {
    margin: 0;
}

.input-box-with-btn input {
    border: 0;
    outline: 0;
    flex-grow: 1;
    padding-right: 1rem;
}

.input-box-with-btn input::placeholder {
    font-size: 1.2rem;
    font-weight: 400;

}



