@import url("fonts/font.css");

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --color-secondary: #17a2b8;
    --color-secondary-darker: #138496;
    --colo-primary: #007bff;
    --color-primary-darker: #0069d9;
    --color-accent: #736dd5;
    --color-white: #fff;
    --color-purple: #736dd5;
    --color-green: #34fe9b;
    --color--input-border: #ced4da;
    --color-body: rgb(33, 37, 41);
    --color-green-darker: #28a745;
    --color-gray: #6c757d;
}

* {
    font-family: vazir-med-fa, serif;
}


body {
    color: var(--color-body);
    text-align: right;
    direction: rtl;
    font-size: 1.6rem;
    background: #ececf8;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}


/* Badges */

.badge {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    white-space: nowrap;
    line-height: 1;
}


.badge--primary {
    background: var(--colo-primary);
    color: var(--color-white);

}

.badge--secondary {
    background: var(--color-secondary);
    color: var(--color-white);
}

.badge--accent {
    background: var(--color-accent);
    color: var(--color-white);
    vertical-align: center;
}

.badge--gray {
    background: var(--color-gray);
    color: var(--color-white);
}

/* Our Boxes */

.our-box {
    text-align: center;
    margin: 3rem;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 5px 20px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-box--primary {
    background: var(--colo-primary);
}


.our-box--purple {
    background: var(--color-purple);
}

.our-box__image {
    margin-bottom: 1.5rem;
    width: 6rem;
}

.our-box__link {
    color: white;
    text-decoration: none;
}


.our-box--green {
    background: var(--color-green);
}

/* Buttons */
.btn {
    border: 0;
    padding: 1rem 1.2rem;
    display: inline-block;
    text-decoration: none;
    margin: 1rem;
    font-size: 1.3rem;
    border-radius: 5px;
    font-weight: 400;
    transition: 0.15s ease-in-out;
    --local-border-size: 1px;
}

.btn i {

}

.btn--primary {
    background: var(--colo-primary);
    --local-background: var(--colo-primary);
    color: var(--color-white);
    border: 1px solid var(--colo-primary);
}


.btn--primary:hover {
    background-color: var(--color-primary-darker);
    border: 1px solid var(--color-primary-darker);
    color: var(--color-white);
}


.btn--secondary {
    background: var(--color-secondary);
    --local-background: var(--color-secondary);
    color: var(--color-white);
    border: 1px solid var(--color-secondary);
}

.btn--secondary:hover {
    background: var(--color-secondary-darker);
    border: 1px solid var(--color-secondary-darker);
}


.btn--gradient {
    background: linear-gradient(40deg, #45cafc, #303f9f);
    --local-background: linear-gradient(40deg, #45cafc, #303f9f);
    color: white;
}


.btn--no-radius {
    border-radius: 0;
}

.btn--big {
    padding: 1.6rem 2.4rem;
    border: 2px solid var(--local-background);
    --local-border-size: 2px;
    font-size: 1.6rem;
}


.btn--rounded {
    border-radius: 50rem;
}

.btn--small {
    font-size: 1.1rem;
}

.btn--outline {
    border: var(--local-border-size) solid var(--local-background);
    color: var(--local-background);
    background: var(--color-white);
}

.btn--outline:hover {
    border: var(--local-border-size) solid var(--local-background);
    color: var(--color-white);
    background: var(--local-background);
}


/* input boxes */

.input-box-with-btn {
    display: flex;
    border: 1px solid var(--color--input-border);
    border-radius: 50rem;
    overflow: hidden;
}

.input-box-with-btn .btn {
    margin: 0;
}

.input-box-with-btn input {
    border: 0;
    outline: 0;
    flex-grow: 1;
    padding-right: 1rem;
}

.input-box-with-btn input::placeholder {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: vazir;
}

/* Course card */


.course-card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.course__image {
    width: 100%;
    height: 23rem;
}

.course__header-link {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    display: inline-block;
    margin: 2rem;
}

.course__content {
    /*padding: 2rem;*/
}

.course__body {
    text-align: justify;
    font-size: 1.4rem;
    font-family: vazir;
    margin: 0 2rem 2rem;
    line-height: 1.6;
}


.course__footer {
    padding: 2rem 2rem;
    background: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    justify-items: start;
    column-gap: 1rem;
}


.course__original-price {
    display: inline-block;
    font-size: 1.3rem;
    color: rgb(108, 117, 125);
}

.course__offed-price {
    font-size: 1.3rem;
    color: var(--color-green-darker);
}

.course__imagine {
    position: absolute;
    width: 100%;
    height: 23rem;
    top: 0;
    left: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: background 0.1s ease-in-out;
}

.course__imagine .badge {
    font-family: vazir-light-fa;
    font-size: 1rem;
}

.course__imagine .course__hidden {
    opacity: 0;
    transform: scale(0);
    transition: 0.2s ease-out 0.1s;
}

.course__imagine .course__buy-btn {
    transition: 0.2s ease-out;
}

.course-card:hover .course__imagine {
    background: rgba(0, 0, 0, 0.35);
}

.course-card:hover .course__hidden {
    height: auto;
    width: auto;
    transform: scale(1);
    opacity: 1;
}


/* collapsible */

.collapsible {

}

.collapsible_content {
    text-align: center;
    max-height: 0;
    transition: 0.9s ease-in;
    overflow: hidden;
}

.collapsible__icon {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 5rem;
    vertical-align: center;
    text-align: center;
    padding: 0.8rem 0.8rem 0;
    border-radius: 4px;
}

.collapsible_item {
    margin: 2.5rem;
    font-family: vazir-bold-fa;
}


.expanded .collapsible_content {
    max-height: 100vh;
}


/* section headers */

.section-header {
    font-size: 1.6rem;
    border-bottom: 3px solid var(--color-secondary);
    padding-bottom: 0.9rem;
    width: fit-content;
    margin-bottom: 2rem;
}


/* next-courses */

.next-courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    width: 100%;
}

.next-courses > img {
    width: 100%;
    height: 100%;
}

.next-courses__header {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 1.4rem;
}

.next-courses__header:hover {
    color: var(--color-secondary-darker);
}

.next-courses__item > p {
    font-size: 1.3rem;
    color: rgb(33, 37, 41);
    margin-top: 1.9rem;
}

.next-courses__item-footer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}


.next-courses__date {
    font-size: 1.1rem;
    color: rgb(108, 117, 125);
    flex-grow: 1;
}

.next-courses__item-footer .btn--small {
    font-size: 0.9rem;
}

@media screen and (max-width: 994px) {
    .next-courses {
        grid-template-columns: 1fr;
    }

    .next-courses > img {
        display: none;
    }
}


/* experience */

.experience__icon-container {
    background: linear-gradient(40deg, #45cafc, #303f9f);
    display: inline-block;
    font-size: 6rem;
    color: var(--color-white);
    padding: 2rem 3rem 1rem;
}

.experience {
    text-align: center;
}

.experience__title {
    margin-top: 1rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

/* masters */

.masters {
    overflow: hidden;
    border-radius: 5px;
    max-width: 25.5rem;
    border: 1px solid rgba(0, 0, 0, .125);
    text-align: center;
}

.masters__image {
    width: 100%;
    height: 60%;
}

.masters__name {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1.5rem 0 2rem;
}

.masters__roll {
    color: var(--color-secondary);
    font-size: 1.2rem;
}


.masters__socials {
    border-top: 1px solid rgba(0, 0, 0, .125);
    background: rgba(0, 0, 0, 0.05);
    padding: 1.3rem;
    line-height: 0;
    margin-top: 2rem;
}

.masters__socials i {
    display: inline-block;
    margin: 0.5rem;
}

.masters__socials .fa-instagram {
    color: #dc3545;
}

.masters__socials .fa-telegram {
    color: #007bff;
}

.masters__socials .fa-whatsapp {
    color: #28a745;
}

/* blog-post-card */

.blog-post-card {
    border: 1px solid rgba(0, 0, 0, .125);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0.2rem .3rem rgba(0, 0, 0, .075);
}

.blog-post-card > img {
    width: 100%;
}

.blog-post-card__content {
    padding: 2rem;
}

.blog-post-card__link {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    font-size: 1.4rem;
}

.blog-post-card__review {
    font-size: 1.3rem;
    font-family: vazir;
}

.blog-post-card__footer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr max-content;
}

.blog-post-card__information {
    display: inline-block;
    color: #6c757d;
    font-size: 1.2rem;
    background: #f8f9fa;
    padding: 1rem;
}


.blog-post-card__owner {
    margin: 0.5rem;
}

.blog-post-card__btn {
    margin: 0;
}

/* footer */


.footer {
    background: var(--color-white);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    column-gap: 2rem;
    justify-items: center;
    font-size: 1.4rem;
}

.footer__brand {
    font-family: vazir-bold-fa;
    font-weight: 700;

}

.footer__bran01 {
    color: var(--color-primary-darker);
}

.footer__bran02 {
    color: var(--color-secondary);
}

.footer__contact {
    font-family: vazir;
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 3rem;
}

.footer__contact_item {
    margin-bottom: 2rem;
}

.footer__contact_item i {
    color: #6c757d;
    display: inline-block;
    margin-left: 0.5rem;
}

.footer__title {
    margin-top: 2.8rem;
    text-align: center;
}

.footer__list {
    list-style: none;
    padding: 0;
}


.footer__list_item {
    text-align: center;
    margin-top: 2.5rem;
}

.footer__list_item a {
    color: var(--color-body);
    text-decoration: none;
}


.footer__newsletter_btn {
    margin-top: 6rem;
}


.footer__social {
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
    line-height: 0;
}

.footer__social span {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    padding: 0.3rem;
    color: var(--color-white);
}

.footer__social_insta {
    background: rgb(187, 62, 139);
}

.footer__social_twitter {
    background: #17a2b8;
}

.footer__social_youtube {
    background: #dc3545;
}

.footer__social_telegram {
    background: #007bff;
}

.footer__copyright {
    grid-column: 1/5;
    color: #6c757d;
    margin-top: 3rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    padding: 2rem;
}

/* header */


.header__wither {
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content max-content;
    align-items: center;
}

.header__wither .header__logo {
    height: 80px;
}

.header__wither .input-box-with-btn {
    margin: 0 7rem;
}

.header__btn {
    margin: 0 0.8rem;
}