@import url("fonts/font.css");

* ,*::after,*::before{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --color-secondary: #17a2b8;
    --colo-primary: #007bff;
    --color-accent: #736dd5;
    --color-white: #fff;
    --color-purple: #736dd5;
    --color-green: #34fe9b;
}

*, *::after, *::before {
    font-family: vazir-med-fa, serif;
}


body {
    text-align: right;
    direction: rtl;
    font-size: 1.6rem;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}


/* Badges */

.badge {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    white-space: nowrap;
    line-height: 1;
}


.badge--primary {
    background: var(--colo-primary);
    color: var(--color-white);

}

.badge--secondary {
    background: var(--color-secondary);
    color: var(--color-white);
}

.badge--accent {
    background: var(--color-accent);
    color: var(--color-white);
    vertical-align: center;
}

/* Our Boxes */

.our-box {
    text-align: center;
    margin: 3rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 5px 20px 2px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-box--primary {
    background: var(--colo-primary);
}


.our-box--purple {
    background: var(--color-purple);
}

.our-box__image{
    margin-bottom: 1.5rem;
    width: 6rem;
}

.our-box__link{
    color: white;
    text-decoration: none;
}


.our-box--green{
    background: var(--color-green);
}