@font-face {

    font-family: yekan;

    src: url(fonts/Yekan.eot);

    src: url(fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan.woff) format("woff"), url(fonts/Yekan.ttf) format("truetype"), url(fonts/Yekan.svg#BYekan) format("svg");

    font-weight: normal;

    font-style: normal

}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: yekan, "Arabic Typesetting", serif;
}

