*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-primary: rgb(0, 255, 171);
    --color-primary-a: rgba(0, 255, 171,0.7);
    --color-primary-hover: rgb(1, 197, 137);
    --color-primary-hover-a: rgba(1, 197, 137,0.7);
    --color-warning: #fbc531;
    --color-warning-a: rgba(251, 197, 49, 0.7);
    --color-warning-hover: #dcad2c;
    --color-warning-hover-a: rgba(220, 173, 44, 0.7);
    --color-danger: rgb(232, 65, 24);
    --color-danger-hover: rgb(197, 58, 24);
    --color-danger-a: rgba(232, 65, 24, 0.7);
    --color-danger-hover-a: rgba(197, 58, 24, .7);
}

/* Animations */

@keyframes leftIn {
    0% {
        transform: translateX(-2000px);
    }

    70% {
        transform: translateX(60px);
    }

    100% {
        transform: translateX(0px);
    }

}

@keyframes upAnim {
    0% {
        box-shadow: 0px 0px 0px 0px var(--color-toast-start);
    }
    100% {
        box-shadow: 0px 0px 0px 10px var(--color-toast-end);
    }
}

@keyframes leftOut {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(60px);
    }

    100% {
        transform: translateX(-2000px);
    }
}

/* Buttons */
.btn {
    outline: none;
    text-decoration: none;
    padding: 1rem 2rem;
    color: black;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out, box-shadow 0.3s ease-in;
    font-size: 1.2rem;
    display: inline-block;
}

.btn--primary {
    background: var(--color-primary);
}


.btn--block {
    font-size: 1.3rem;
    display: block;
    text-align: center;
}


.btn--primary:hover {
    background: var(--color-primary-hover);
}

.btn--primary:focus {
    box-shadow: 0px 0px 0px 3px var(--color-primary-hover);
}

.btn--warning {
    background: var(--color-warning);
}

.btn--warning:hover {
    background: var(--color-warning-hover);
}

.btn--warning:focus {
    box-shadow: 0px 0px 0px 3px var(--color-warning-hover);
}

.btn--danger {
    background-color: var(--color-danger);
    color: white;
}

.btn--danger:hover {
    background-color: var(--color-danger-hover);
}

.btn--danger:focus {
    box-shadow: 0px 0px 0px 3px var(--color-danger-hover);

}

/* Toaster */
.toast {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 10px;
    left: 10px;
    animation: upAnim 2s infinite;
}


.toaster__icon_container {
    flex-basis: 50px;
    text-align: center;
    font-size: 1.3rem;
    height: 100%;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toaster__icon_container i {
    display: block;
}

.toaster__text {
    padding: 0 0.7rem;
    flex-basis: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
}

.toast--danger {
    color: white;
    --color-toast-start: var(--color-danger-a);
    --color-toast-start-hover: var(--color-danger-hover-a);
    --color-toast-end: rgba(232, 65, 24, 0);
}

.toast--warning {
    color: white;
    --color-toast-start: var(--color-warning-a);
    --color-toast-start-hover: var(--color-warning-hover-a);
    --color-toast-end: rgba(251, 197, 49, 0);
}


.toast--success {
    color: white;
    --color-toast-start: var(--color-primary-a);
    --color-toast-start-hover: var(--color-primary-hover-a);
    --color-toast-end: rgba(0, 255, 171,0);
}


.toast--test{
    color: white;
    --color-toast-start: rgba(200, 0, 255, 0.7);
    --color-toast-start-hover: rgba(129, 2, 164, 0.7);
    --color-toast-end: rgba(200, 0, 255, 0);
}

.toaster__text {
    background-color: var(--color-toast-start);
}

.toaster__icon_container {
    background-color: var(--color-toast-start-hover);
}


