@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background: url("../images/foroozan-faraji-R02XJ8epno4-unsplash.jpg");
    background-size: cover;
}